.aqi-card {
    padding: 20px 16px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    transition: transform 0.3s ease;
}

/* .aqi-card:hover {
    transform: scale(1.02);
  } */

.aqi-value {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    margin-top: -18px;
    margin-bottom: 12px;
}

.aqi-label {
    font-size: 14px;
    color: var(--text);
    letter-spacing: 0.5px;
}

.needle path {
    fill: var(--text);
}

.needle circle {
    fill: gray;
}

.aqi-value {
    margin-top: 1px;
    color: var(--text);
}