.camera-header {
  text-align: center;
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  background: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
