/* MasonryGrid.css */
.masonry-grid {
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: auto;
  }
  
  .masonry-column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }
  
  .masonry-column > div {
    margin-bottom: 20px;
  }
  