.wheel-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: #fff;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
    /* width: fit-content; */
}

.color-wheel {
    border-radius: 50%;
    cursor: crosshair;
}

.color-preview {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}