/* ********************************* */
.users-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.users-table th,
.users-table td {
    text-align: center;
    padding: 16px;
    word-wrap: break-word;
}

.users-table-btn {
    background: var(--blue);
    color: var(--sidebar);
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    width: auto;
    /* مهم: اندازه دکمه با محتواش ست شود */
    display: inline-block;
}

.users-table-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 8px var(--blue);
}

.users-table-btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.red-delete-btn {
    background-color: #d9000e !important;
    color: #fff;
}

.red-delete-btn:hover {
    background-color: #b71c1c !important;
}

/* ********************************* */
.users-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.user-card {
    min-width: 200px;
    background: var(--white);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid var(--input-bg);
    text-align: center;
}

.user-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-color: var(--blue);
}

.user-card h3 {
    font-size: 19px;
    font-weight: 450;
    color: var(--text-color);
    margin-bottom: 10px;
}

.user-card p {
    font-size: 14px;
    color: #858585;
    margin: 0;
}

/* ********************************* */
.users-mobile-view {
    display: none;
}

@media (max-width: 600px) {

    .users-table {
        display: none;
    }

    .users-mobile-view {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* flex-direction: column; */
        gap: 15px;
        margin-top: 25px;
    }

    /* .user-card-mobile:last-child {
        flex-grow: 0;
    } */

    .user-card-mobile {
        background-color: color-mix(in oklab, var(--white) 60%, transparent);
        border: 1px solid var(--input-bg);
        border-radius: 14px;
        padding: 16px 18px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        transition: all 0.3s ease;
        width: 200px;
        flex-grow: 1;
    }

    .user-card-mobile h3 {
        font-size: 16px;
        color: var(--text-color);
        margin: 0 0 8px 0;
        font-weight: 600;
        text-align: center;
    }

    .user-card-mobile p {
        font-size: 14px;
        color: #4e4d4d;
        margin: 4px 0;
        text-align: center;
    }

    /* دکمه‌ها */
    .user-card-mobile .mobile-btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .user-card-mobile .users-table-btn {
        width: auto;
        display: inline-block;
        padding: 8px 12px;
        border-radius: 8px;
        font-size: 11px;
        font-weight: 600;
        background: var(--blue);
        color: var(--sidebar);
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0;
    }

    .user-card-mobile .users-table-btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 3px 8px var(--blue);
    }

    .user-card-mobile .users-table-btn:active {
        transform: translateY(0);
        box-shadow: none;
    }

    .delete-btn-wrapper {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .delete-btn-wrapper .red-delete-btn {
        width: auto;
        display: inline-block;
        padding: 8px 16px;
    }
}

/* ********************************* */
/* ریسپانسیو کارت‌ها و کاربران */
@media (max-width: 686px) {
    .user-card {
        min-width: 160px;
    }

    .users-list-div {
        flex-grow: 1;
    }
}

@media (max-width: 400px) {
    .user-card {
        min-width: 150px;
    }

    .users-title {
        font-size: 1.6rem !important;
    }
}

@media (max-width: 340px) {
    .users-list-div {
        width: 75%;
    }
}