.cms-empty-err {
    position: relative;
    font-size: 1.5rem;
    background: linear-gradient(135deg, var(--blue), rgb(168, 255, 254));
    margin-top: 30px;
    padding: 25px 30px;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}