.report-card-container {
  background-color: var(--white);
  direction: ltr;
  width: 100%;
  max-width: 220px;
  overflow: hidden;
  /* margin-top: 50px; */
  padding: 20px;
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.report-card-container:hover {
  transform: scale(1.05);
}

.report-card-container svg {
  color: var(--text-color);
  fill: var(--text-color);
}

.report-card-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: var(--text-color);
}


@media (max-width: 576px) {
  .report-card-container {
    /* max-width: 200px; */
    flex-grow: 1;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .report-card-container {
    /* max-width: 200px; */
    max-width: none;
    width: 100%;
  }
}