.home-box {
    /* max-width: 320px !important; */
    max-width: 100% !important;
    border-radius: 5px;
    /* background-color: var(--box-color) !important; */
    background-color: var(--white) !important;
    backdrop-filter: blur(12px);   
    padding: 25px 25px 20px;
}

.home-wrapper {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    /* background-color: var(--white); */
    border-radius: 10px;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    padding: 30px 0;
}



.home-title {
    font-size: 30px;
    padding: 100px 0;
}