/* ریسپانسیو جدول */

@media (max-width: 792px) {
    .modal-close {
        top: 10px;
        right: 20px;
    }
}

@media (max-width: 576px) {
    .MuiTypography-root {
        font-size: 16px !important;
        text-align: center;
    }

    .MuiButton-root {
        font-size: 12px !important;
        gap: 5px !important;
        padding: 6px 10px !important;
    }

    .MuiChip-root {
        width: 55px !important;
        font-size: 14px !important;
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}

@media (max-width: 400px) {
    .MuiChip-root {
        width: 50px !important;
        font-size: 13px !important;
        padding-left: 2px !important;
        padding-right: 2px !important;
    }

    .MuiTypography-root {
        font-size: 15px !important;
    }
}