.users-title {
    color: var(--text-color);
    font-size: 2rem;
    margin-top: 60px;
}

.users-table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    background-color: color-mix(in oklab, var(--white) 25%, transparent) !important;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--shadow) 0px 0px 8px 0px;
    color: var(--text-color);
}

.users-table th,
.users-table td {
    padding: 15px 10px;
    border-bottom: 2px solid var(--white-50);
    vertical-align: middle;
}

/* .users-table td.btn-cell {
    border-bottom: none;
} */

.users-table thead {
    font-weight: bold;
}

.users-table-img {
    width: 120px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.image-cell {
    text-align: center;
}

.btn-cell {}

.users-table-btn {
    padding: 6px 14px;
    font-size: 0.9rem;
    border-radius: 8px;
    color: var(--sidebar);
    background-color: var(--blue);
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.users-table-btn:hover {
    background-color: rgb(0, 172, 193);
}


/* Start Edit Modal Childs Style */

.edit-proructs-form-group {
    margin-top: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #f4f4f4;
    padding: 0 20px;
    border-radius: 10px;
}

.edit-proructs-form-group span {
    display: flex;
}

.edit-product-input {
    outline: none;
    border: none;
    background-color: unset;
    font-size: 1.1rem;
    width: 100%;
    padding: 8px 10px;
}

/* Finish Edit Modal Childs Style */


/* Start Pending Icon */
.pending-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: var(--blue);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    margin: auto;
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
}



@keyframes pulse0112 {

    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Finish Pending Icon */



/* Responsive Design */

@media(max-width: 586px) {
    .btn-cell {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .users-table-btn {
        margin-right: 0;
        padding: 4px 8px;
    }

    /*   **************************   */
    .users-table {
        width: 100%;
        border-collapse: collapse;
        /* برای حذف فاصله اضافی بین سلول‌ها */
        table-layout: fixed;
        /* مهم برای مساوی شدن عرض ستون‌ها */
    }

    .users-table th,
    .users-table td {
        text-align: center;
        padding: 12px;
        word-wrap: break-word;
        /* جلوگیری از شکستن جدول */
    }

    /*   **************************   */

    .users-table-btn {
        width: 70px;
        margin: 0 auto;
    }
}

@media(max-width: 486px) {
    .btn-cell {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .users-table-btn {
        padding: 4px 8px;
        font-size: 10px;
        width: 60px;
        margin: 0 auto;
    }

    .national-id-active {
        display: none;
    }

}

@media(max-width: 350px) {
    .btn-cell {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .users-table-btn {
        padding: 4px 8px;
        font-size: 10px;
        width: 50px;
    }

    .national-id-active {
        display: none;
    }
}