.modal-parent {
    position: fixed;
    /*?  ?*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*?  ?*/
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.modal-parent.active {
    opacity: 1;
    visibility: visible;
}

.edit-modal-form {
    width: 400px;
    padding: 30px;
    background-color: var(--white);
    text-align: center;
}

.close-btn-wrapper {
    display: flex;
    justify-content: flex-start;
}

.close-btn {
    /* display: inline-block; */
    text-align: right;
    cursor: pointer;
    color: gray;
    margin-bottom: 5px;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: var(--white-50);
}

.edit-modal-form h1 {
    font-size: 1.4rem;
}

.edit_form_wrapper {
    margin: 30px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-form-submit {
    margin-top: 20px;
    width: 100%;
    padding: 8px 10px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.1rem;
    cursor: pointer;
    outline: none;
    border: none;
}